In [382]:
import os
import pandas as pd

# setting the spark_home variable
os.environ["SPARK_HOME"] = "C:\spark\spark-3.1.2-bin-hadoop2.7"

In [383]:
import findspark
findspark.init()

In [384]:
# creating a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Starting a new Spark Session...") \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

In [385]:
# Testing spark session
spark

In [386]:
# reading the csv source file
path = 'trips.csv'
trips = spark.read.csv(path, sep=',', inferSchema=True)
trips.count()

101

In [387]:
# checking amount of records
trips.limit(trips.count()).toPandas()

,_c0,_c1,_c2,_c3,_c4
0,region,origin_coord,destination_coord,datetime,datasource
1,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car
2,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car
3,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile
4,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles
...,...,...,...,...,...
96,Prague,POINT (14.33562319852013 50.05977285737693),POINT (14.45302412886982 50.06961029075634),2018-05-03 18:56:45,cheap_mobile
97,Hamburg,POINT (9.996714798980491 53.52203690589671),POINT (10.17431393081631 53.51796499041119),2018-05-23 12:43:17,baba_car
98,Prague,POINT (14.40975521275597 50.037791514028),POINT (14.59895464921585 50.05472087955579),2018-05-12 08:13:09,cheap_mobile
99,Hamburg,POINT (10.08338857045871 53.59661344302611),POINT (10.17914017806172 53.60909301795856),2018-05-22 10:39:49,baba_car
100,Prague,POINT (14.61738744026195 50.03346482370401),POINT (14.31199296863995 50.09604608872181),2018-05-15 22:10:03,baba_car

In [388]:
# renaming the columns name according to csv header
tripsColName = ['region','origin_coord','destination_coord','datetime', 'datasource']

for index, colName in enumerate(tripsColName):
    trips = trips.withColumnRenamed(f"_c{index}", colName)

trips.columns

['region', 'origin_coord', 'destination_coord', 'datetime', 'datasource']

In [389]:
# checking the new column names
trips.printSchema()

root
 |-- region: string (nullable = true)
 |-- origin_coord: string (nullable = true)
 |-- destination_coord: string (nullable = true)
 |-- datetime: string (nullable = true)
 |-- datasource: string (nullable = true)

In [390]:
# converting string to datetime for column datetme
trips = trips.withColumn('datetime', trips['datetime'].cast('timestamp'))
trips.printSchema()

root
 |-- region: string (nullable = true)
 |-- origin_coord: string (nullable = true)
 |-- destination_coord: string (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- datasource: string (nullable = true)

In [391]:
# checking amount of records
trips.limit(trips.count()).toPandas()

,region,origin_coord,destination_coord,datetime,datasource
0,region,origin_coord,destination_coord,NaT,datasource
1,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car
2,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car
3,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile
4,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles
...,...,...,...,...,...
96,Prague,POINT (14.33562319852013 50.05977285737693),POINT (14.45302412886982 50.06961029075634),2018-05-03 18:56:45,cheap_mobile
97,Hamburg,POINT (9.996714798980491 53.52203690589671),POINT (10.17431393081631 53.51796499041119),2018-05-23 12:43:17,baba_car
98,Prague,POINT (14.40975521275597 50.037791514028),POINT (14.59895464921585 50.05472087955579),2018-05-12 08:13:09,cheap_mobile
99,Hamburg,POINT (10.08338857045871 53.59661344302611),POINT (10.17914017806172 53.60909301795856),2018-05-22 10:39:49,baba_car
100,Prague,POINT (14.61738744026195 50.03346482370401),POINT (14.31199296863995 50.09604608872181),2018-05-15 22:10:03,baba_car

In [392]:
# adding a new column: week number of year to differ each week
from pyspark.sql.functions import weekofyear

trips = trips.withColumn('week_of_year',weekofyear(trips.datetime))
trips.show()

+-------+--------------------+--------------------+-------------------+-------------------+------------+
| region|        origin_coord|   destination_coord|           datetime|         datasource|week_of_year|
+-------+--------------------+--------------------+-------------------+-------------------+------------+
| region|        origin_coord|   destination_coord|               null|         datasource|        null|
| Prague|POINT (14.4973794...|POINT (14.4310948...|2018-05-28 09:03:40|          funny_car|          22|
|  Turin|POINT (7.67283791...|POINT (7.72036863...|2018-05-21 02:54:04|           baba_car|          21|
| Prague|POINT (14.3242734...|POINT (14.4776789...|2018-05-13 08:52:25|       cheap_mobile|          19|
|  Turin|POINT (7.54150918...|POINT (7.74528653...|2018-05-06 09:49:16|bad_diesel_vehicles|          18|
|  Turin|POINT (7.61407811...|POINT (7.52749714...|2018-05-23 12:45:54|      pt_search_app|          21|
|Hamburg|POINT (10.0729902...|POINT (9.78919760...|2018-05-15 09:13:36|bad_diesel_vehicles|          20|
|Hamburg|POINT (9.91027820...|POINT (10.0255791...|2018-05-13 13:09:19|          funny_car|          19|
|  Turin|POINT (7.56078508...|POINT (7.58356869...|2018-05-06 00:00:44|       cheap_mobile|          18|
|  Turin|POINT (7.70241807...|POINT (7.62322934...|2018-05-14 02:07:30|       cheap_mobile|          20|
|Hamburg|POINT (10.0526009...|POINT (10.0588964...|2018-05-04 00:46:12|       cheap_mobile|          18|
|Hamburg|POINT (9.96114465...|POINT (10.0850358...|2018-05-06 06:34:22|       cheap_mobile|          18|
|Hamburg|POINT (9.85528508...|POINT (10.0332737...|2018-05-31 10:55:12|bad_diesel_vehicles|          22|
|  Turin|POINT (7.63191123...|POINT (7.63149878...|2018-05-31 06:20:59|      pt_search_app|          22|
| Prague|POINT (14.3439468...|POINT (14.4504695...|2018-05-20 02:31:22|       cheap_mobile|          20|
|  Turin|POINT (7.55729532...|POINT (7.63448864...|2018-05-25 15:16:35|      pt_search_app|          21|
| Prague|POINT (14.4929067...|POINT (14.4873572...|2018-05-01 11:50:58|       cheap_mobile|          18|
|  Turin|POINT (7.55886470...|POINT (7.77032847...|2018-05-01 17:42:05|      pt_search_app|          18|
| Prague|POINT (14.4198663...|POINT (14.4101486...|2018-05-06 12:56:14|bad_diesel_vehicles|          18|
|  Turin|POINT (7.70322087...|POINT (7.71322988...|2018-05-29 15:58:39|       cheap_mobile|          22|
+-------+--------------------+--------------------+-------------------+-------------------+------------+
only showing top 20 rows

In [393]:
# eliminating first column if it is a header
trips = trips.filter( (trips.region!='region') & (trips.origin_coord!='origin_coord') & (trips.destination_coord!='destination_coord'))
trips = trips.withColumn("date_only", to_date(col("DateTime")))
trips.limit(trips.count()).toPandas()

,region,origin_coord,destination_coord,datetime,datasource,week_of_year,date_only
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car,22,2018-05-28
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car,21,2018-05-21
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile,19,2018-05-13
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles,18,2018-05-06
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app,21,2018-05-23
...,...,...,...,...,...,...,...
95,Prague,POINT (14.33562319852013 50.05977285737693),POINT (14.45302412886982 50.06961029075634),2018-05-03 18:56:45,cheap_mobile,18,2018-05-03
96,Hamburg,POINT (9.996714798980491 53.52203690589671),POINT (10.17431393081631 53.51796499041119),2018-05-23 12:43:17,baba_car,21,2018-05-23
97,Prague,POINT (14.40975521275597 50.037791514028),POINT (14.59895464921585 50.05472087955579),2018-05-12 08:13:09,cheap_mobile,19,2018-05-12
98,Hamburg,POINT (10.08338857045871 53.59661344302611),POINT (10.17914017806172 53.60909301795856),2018-05-22 10:39:49,baba_car,21,2018-05-22
99,Prague,POINT (14.61738744026195 50.03346482370401),POINT (14.31199296863995 50.09604608872181),2018-05-15 22:10:03,baba_car,20,2018-05-15

In [394]:
trips.printSchema()

root
 |-- region: string (nullable = true)
 |-- origin_coord: string (nullable = true)
 |-- destination_coord: string (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- datasource: string (nullable = true)
 |-- week_of_year: integer (nullable = true)
 |-- date_only: date (nullable = true)

In [395]:
# counting of records grouped by origin+destinatio+same date
trips.groupBy( "origin_coord","destination_coord","date_only").count().show()

+--------------------+--------------------+----------+-----+
|        origin_coord|   destination_coord| date_only|count|
+--------------------+--------------------+----------+-----+
|POINT (7.72380775...|POINT (7.59287452...|2018-05-24|    1|
|POINT (10.2154964...|POINT (10.2054465...|2018-05-18|    1|
|POINT (14.6429258...|POINT (14.5017970...|2018-05-17|    1|
|POINT (14.3310720...|POINT (14.3200468...|2018-05-20|    1|
|POINT (14.3514619...|POINT (14.3588281...|2018-05-21|    1|
|POINT (7.62504114...|POINT (7.73895376...|2018-05-26|    1|
|POINT (10.2004416...|POINT (9.85751885...|2018-05-05|    1|
|POINT (14.4251434...|POINT (14.4058508...|2018-05-02|    1|
|POINT (14.4240604...|POINT (14.3165732...|2018-05-29|    1|
|POINT (10.1541092...|POINT (10.1041201...|2018-05-27|    1|
|POINT (7.61407811...|POINT (7.52749714...|2018-05-23|    1|
|POINT (14.5272324...|POINT (14.6653023...|2018-05-04|    1|
|POINT (9.80304883...|POINT (9.83488382...|2018-05-09|    1|
|POINT (7.73282848...|POINT (7.66250749...|2018-05-26|    1|
|POINT (7.53573858...|POINT (7.57970527...|2018-05-21|    1|
|POINT (10.1737899...|POINT (10.2152978...|2018-05-21|    1|
|POINT (14.6668925...|POINT (14.4528148...|2018-05-03|    1|
|POINT (14.3498943...|POINT (14.6610239...|2018-05-26|    1|
|POINT (9.91347867...|POINT (10.1768755...|2018-05-31|    1|
|POINT (7.55775674...|POINT (7.76326628...|2018-05-03|    1|
+--------------------+--------------------+----------+-----+
only showing top 20 rows

In [396]:
# summarizing all trips to the same destinatio_coord
trips.groupBy( "week_of_year","destination_coord").count().show()

+------------+--------------------+-----+
|week_of_year|   destination_coord|count|
+------------+--------------------+-----+
|          20|POINT (14.3200468...|    1|
|          18|POINT (14.4409786...|    1|
|          21|POINT (14.6610239...|    1|
|          21|POINT (7.69874235...|    1|
|          19|POINT (14.6054480...|    1|
|          18|POINT (7.58356869...|    1|
|          20|POINT (7.55848129...|    1|
|          20|POINT (14.3479060...|    1|
|          19|POINT (7.63957800...|    1|
|          18|POINT (10.0588964...|    1|
|          22|POINT (7.70032410...|    1|
|          20|POINT (9.83414766...|    1|
|          18|POINT (14.5492671...|    1|
|          21|POINT (7.66250749...|    1|
|          20|POINT (9.78919760...|    1|
|          21|POINT (7.57970527...|    1|
|          20|POINT (14.6564849...|    1|
|          21|POINT (10.1791401...|    1|
|          19|POINT (7.51712993...|    1|
|          20|POINT (14.5576248...|    1|
+------------+--------------------+-----+
only showing top 20 rows

In [397]:
# summarizing all trips to the same region
trips.groupBy( "week_of_year","region").count().show()

+------------+-------+-----+
|week_of_year| region|count|
+------------+-------+-----+
|          22| Prague|    3|
|          20|Hamburg|    5|
|          19| Prague|    8|
|          21|Hamburg|    7|
|          19|  Turin|    6|
|          21| Prague|    5|
|          22|  Turin|    4|
|          20|  Turin|    6|
|          18| Prague|   10|
|          22|Hamburg|    5|
|          18|Hamburg|    5|
|          19|Hamburg|    6|
|          18|  Turin|    8|
|          21|  Turin|   14|
|          20| Prague|    8|
+------------+-------+-----+

In [398]:
# opening a SQL Session
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [399]:
from sqlalchemy import create_engine

In [400]:
# Connecting to the Database
%sql postgresql://postgres:Admin01@localhost:5432/postgres

In [401]:
%%sql
CREATE TABLE if not exists public.trips (
    region   varchar(30),
    origin_coord varchar(100),
    destination_coord varchar(100),
    datetime timestamp,
    datasource varchar(30)
);

select * from public.trips;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
100 rows affected.

[('Prague', 'POINT (14.4973794438195 50.00136875782316)', 'POINT (14.43109483523328 50.04052930943246)', datetime.datetime(2018, 5, 28, 9, 3, 40), 'funny_car'),
 ('Turin', 'POINT (7.672837913286881 44.9957109242058)', 'POINT (7.720368637535126 45.06782385393849)', datetime.datetime(2018, 5, 21, 2, 54, 4), 'baba_car'),
 ('Prague', 'POINT (14.32427345662177 50.00002074358429)', 'POINT (14.47767895969969 50.09339790740321)', datetime.datetime(2018, 5, 13, 8, 52, 25), 'cheap_mobile'),
 ('Turin', 'POINT (7.541509189114433 45.09160503827746)', 'POINT (7.74528653441973 45.02628598341506)', datetime.datetime(2018, 5, 6, 9, 49, 16), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.614078119815749 45.13433106465422)', 'POINT (7.527497142312585 45.03335051325654)', datetime.datetime(2018, 5, 23, 12, 45, 54), 'pt_search_app'),
 ('Hamburg', 'POINT (10.07299025213017 53.62044974829032)', 'POINT (9.789197601249002 53.46315765148751)', datetime.datetime(2018, 5, 15, 9, 13, 36), 'bad_diesel_vehicles'),
 ('Hamburg', 'POINT (9.910278201788232 53.58386264717827)', 'POINT (10.02557919725378 53.4120717767391)', datetime.datetime(2018, 5, 13, 13, 9, 19), 'funny_car'),
 ('Turin', 'POINT (7.560785081962462 45.01901608530191)', 'POINT (7.583568695710608 45.10526898076209)', datetime.datetime(2018, 5, 6, 0, 0, 44), 'cheap_mobile'),
 ('Turin', 'POINT (7.702418079996892 45.05754972796922)', 'POINT (7.623229346744799 44.99969774086024)', datetime.datetime(2018, 5, 14, 2, 7, 30), 'cheap_mobile'),
 ('Hamburg', 'POINT (10.05260098579818 53.53497739746809)', 'POINT (10.05889649564977 53.49486429314853)', datetime.datetime(2018, 5, 4, 0, 46, 12), 'cheap_mobile'),
 ('Hamburg', 'POINT (9.961144659266848 53.42865933587807)', 'POINT (10.08503581364391 53.43645004358303)', datetime.datetime(2018, 5, 6, 6, 34, 22), 'cheap_mobile'),
 ('Hamburg', 'POINT (9.855285083390802 53.49609983095765)', 'POINT (10.03327373452912 53.65419620043016)', datetime.datetime(2018, 5, 31, 10, 55, 12), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.631911234917911 45.07638462112543)', 'POINT (7.631498786757075 45.12355143687468)', datetime.datetime(2018, 5, 31, 6, 20, 59), 'pt_search_app'),
 ('Prague', 'POINT (14.34394689715277 50.12299688052901)', 'POINT (14.45046952210687 50.10077692162883)', datetime.datetime(2018, 5, 20, 2, 31, 22), 'cheap_mobile'),
 ('Turin', 'POINT (7.557295325138827 44.980984165477)', 'POINT (7.634488648561684 45.09941960292201)', datetime.datetime(2018, 5, 25, 15, 16, 35), 'pt_search_app'),
 ('Prague', 'POINT (14.49290671173996 50.01644032542101)', 'POINT (14.48735724430722 50.0275445326544)', datetime.datetime(2018, 5, 1, 11, 50, 58), 'cheap_mobile'),
 ('Turin', 'POINT (7.558864701837288 45.11540031667295)', 'POINT (7.770328470181719 45.05433872971169)', datetime.datetime(2018, 5, 1, 17, 42, 5), 'pt_search_app'),
 ('Prague', 'POINT (14.41986637983827 50.02012470664376)', 'POINT (14.41014860957387 50.08518970681641)', datetime.datetime(2018, 5, 6, 12, 56, 14), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.703220872633631 45.12041666625482)', 'POINT (7.713229884381637 45.08729268877508)', datetime.datetime(2018, 5, 29, 15, 58, 39), 'cheap_mobile'),
 ('Hamburg', 'POINT (9.915740323664213 53.60938698922035)', 'POINT (9.836133816394081 53.5340991521548)', datetime.datetime(2018, 5, 10, 17, 51, 38), 'cheap_mobile'),
 ('Turin', 'POINT (7.56304564848932 44.97612466562052)', 'POINT (7.731930611357271 45.07122576386962)', datetime.datetime(2018, 5, 16, 11, 56, 33), 'pt_search_app'),
 ('Prague', 'POINT (14.42559620999022 50.05308939656821)', 'POINT (14.54762887318999 50.00573858824717)', datetime.datetime(2018, 5, 11, 21, 16, 54), 'baba_car'),
 ('Hamburg', 'POINT (10.20044161946335 53.54722485790852)', 'POINT (9.857518857977054 53.52506880668962)', datetime.datetime(2018, 5, 5, 12, 39, 21), 'cheap_mobile'),
 ('Hamburg', 'POINT (9.851542240435057 53.49993939960235)', 'POINT (10.03250822637649 53.50058121032057)', datetime.datetime(2018, 5, 23, 5, 55, 37), 'funny_car'),
 ('Turin', 'POINT (7.603105215841434 45.0574978503937)', 'POINT (7.639578002290701 45.10020564825853)', datetime.datetime(2018, 5, 13, 12, 0, 21), 'funny_car'),
 ('Hamburg', 'POINT (9.80304883152659 53.50847122244616)', 'POINT (9.834883820942993 53.63694321201706)', datetime.datetime(2018, 5, 9, 9, 28, 24), 'cheap_mobile'),
 ('Prague', 'POINT (14.65848565403607 50.11571340810843)', 'POINT (14.61296534823862 50.06347771442317)', datetime.datetime(2018, 5, 8, 4, 22, 1), 'funny_car'),
 ('Prague', 'POINT (14.35146190337486 50.10386689948413)', 'POINT (14.3588281620048 50.00428816034508)', datetime.datetime(2018, 5, 21, 6, 52, 19), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.691232870035057 45.06910822622201)', 'POINT (7.526357497337862 44.98174478195055)', datetime.datetime(2018, 5, 26, 4, 25, 56), 'cheap_mobile'),
 ('Prague', 'POINT (14.4251434102725 50.08626745067269)', 'POINT (14.40585085170846 50.09331773424552)', datetime.datetime(2018, 5, 2, 13, 48, 30), 'baba_car'),
 ('Turin', 'POINT (7.621866502979116 45.08793552379486)', 'POINT (7.558481292621633 45.09629278672146)', datetime.datetime(2018, 5, 20, 5, 39, 56), 'baba_car'),
 ('Turin', 'POINT (7.685899281076795 45.07566566332665)', 'POINT (7.715597191909829 45.05465181263087)', datetime.datetime(2018, 5, 29, 13, 42, 34), 'bad_diesel_vehicles'),
 ('Prague', 'POINT (14.55782768207913 50.08426714850849)', 'POINT (14.60224344606894 50.10794700670115)', datetime.datetime(2018, 5, 6, 5, 13, 16), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.662608916626361 45.09442558983316)', 'POINT (7.724289698249433 45.07378523979249)', datetime.datetime(2018, 5, 8, 15, 11, 1), 'bad_diesel_vehicles'),
 ('Prague', 'POINT (14.56801740803507 49.98980557466577)', 'POINT (14.60544806001137 50.1174974586993)', datetime.datetime(2018, 5, 12, 15, 12, 4), 'pt_search_app'),
 ('Prague', 'POINT (14.31840390580184 50.08466755143189)', 'POINT (14.55762488630385 50.08502385365859)', datetime.datetime(2018, 5, 19, 23, 8, 9), 'funny_car'),
 ('Prague', 'POINT (14.66689257396927 50.07203997731474)', 'POINT (14.45281481537168 50.03751904953268)', datetime.datetime(2018, 5, 3, 1, 35, 44), 'cheap_mobile'),
 ('Turin', 'POINT (7.625041142160284 44.98182259298021)', 'POINT (7.738953769704938 45.03730563222917)', datetime.datetime(2018, 5, 26, 12, 14, 42), 'bad_diesel_vehicles'),
 ('Hamburg', 'POINT (10.04884628340258 53.51430547831718)', 'POINT (9.805977128944804 53.56924626552725)', datetime.datetime(2018, 5, 21, 19, 13, 24), 'cheap_mobile'),
 ('Hamburg', 'POINT (10.2154964127794 53.53161090271701)', 'POINT (10.20544652088819 53.5064112329052)', datetime.datetime(2018, 5, 18, 11, 7, 29), 'cheap_mobile'),
 ('Prague', 'POINT (14.42406040824624 50.07214185487351)', 'POINT (14.31657321025762 50.09295527259866)', datetime.datetime(2018, 5, 29, 12, 44, 2), 'cheap_mobile'),
 ('Turin', 'POINT (7.6523523241688 45.13930102848315)', 'POINT (7.546186195389519 45.00660293197863)', datetime.datetime(2018, 5, 3, 16, 16, 46), 'pt_search_app'),
 ('Prague', 'POINT (14.49581069715323 50.07207927074405)', 'POINT (14.54926715156042 50.04365439736826)', datetime.datetime(2018, 5, 4, 4, 40, 35), 'pt_search_app'),
 ('Turin', 'POINT (7.671077441892763 45.00676340143624)', 'POINT (7.7199332961156 44.98171705467543)', datetime.datetime(2018, 5, 15, 20, 30, 12), 'pt_search_app'),
 ('Prague', 'POINT (14.33107209002501 50.06307196908211)', 'POINT (14.3200468695536 50.10807754182695)', datetime.datetime(2018, 5, 20, 1, 41, 36), 'cheap_mobile'),
 ('Turin', 'POINT (7.739660019780326 45.10100884469237)', 'POINT (7.597114891145975 45.1162369066238)', datetime.datetime(2018, 5, 26, 5, 15, 45), 'cheap_mobile'),
 ('Turin', 'POINT (7.557756740222061 45.0225802162822)', 'POINT (7.763266287022981 45.03194358259004)', datetime.datetime(2018, 5, 3, 15, 15, 28), 'cheap_mobile'),
 ('Prague', 'POINT (14.52723245789148 50.01620449831963)', 'POINT (14.66530238921314 50.11783538584734)', datetime.datetime(2018, 5, 4, 2, 42, 32), 'bad_diesel_vehicles'),
 ('Hamburg', 'POINT (9.936476031944927 53.45543416459435)', 'POINT (10.04091186185177 53.42024644236509)', datetime.datetime(2018, 5, 1, 10, 22, 59), 'baba_car'),
 ('Turin', 'POINT (7.616964015642722 45.04912350611652)', 'POINT (7.700324102531206 45.0688897670161)', datetime.datetime(2018, 5, 28, 4, 23, 42), 'funny_car'),
 ('Prague', 'POINT (14.62777653398497 50.00367807685823)', 'POINT (14.64297252209033 50.0121919035355)', datetime.datetime(2018, 5, 29, 3, 33, 44), 'cheap_mobile'),
 ('Hamburg', 'POINT (10.06118280297654 53.46738240063593)', 'POINT (10.20354128171305 53.51109692120344)', datetime.datetime(2018, 5, 17, 4, 27, 9), 'baba_car'),
 ('Prague', 'POINT (14.37153748521014 50.00937333429672)', 'POINT (14.65648496061339 50.1233558262903)', datetime.datetime(2018, 5, 20, 5, 47, 2), 'cheap_mobile'),
 ('Prague', 'POINT (14.37338615486802 50.06537556739956)', 'POINT (14.54081985518606 50.08790619445585)', datetime.datetime(2018, 5, 10, 23, 4, 58), 'pt_search_app'),
 ('Prague', 'POINT (14.53300650375239 50.12502233477432)', 'POINT (14.66560032530535 50.0869602482622)', datetime.datetime(2018, 5, 23, 1, 7, 33), 'cheap_mobile'),
 ('Hamburg', 'POINT (10.02610136178745 53.50122432388112)', 'POINT (9.834147669301471 53.6513082275632)', datetime.datetime(2018, 5, 14, 1, 47, 52), 'baba_car'),
 ('Turin', 'POINT (7.563475091132667 44.97997955620617)', 'POINT (7.517129937471816 45.06482486034779)', datetime.datetime(2018, 5, 13, 22, 16, 27), 'pt_search_app'),
 ('Prague', 'POINT (14.64292585196625 50.02034172465275)', 'POINT (14.5017970263999 50.03963869865565)', datetime.datetime(2018, 5, 17, 20, 15, 45), 'cheap_mobile'),
 ('Turin', 'POINT (7.592730702551875 45.10999018294942)', 'POINT (7.714926530712359 45.0772550203861)', datetime.datetime(2018, 5, 18, 19, 29, 56), 'bad_diesel_vehicles'),
 ('Prague', 'POINT (14.42318361059361 50.11958193109052)', 'POINT (14.49475583828166 50.02232490084747)', datetime.datetime(2018, 5, 26, 20, 39, 37), 'bad_diesel_vehicles'),
 ('Prague', 'POINT (14.37987779362806 50.02580819336156)', 'POINT (14.44097861083801 49.99269705719384)', datetime.datetime(2018, 5, 3, 10, 45, 23), 'cheap_mobile'),
 ('Prague', 'POINT (14.34989439101649 50.0578756416996)', 'POINT (14.6610239449707 50.07877245872595)', datetime.datetime(2018, 5, 26, 1, 13, 35), 'funny_car'),
 ('Turin', 'POINT (7.732828486976612 45.09748898017552)', 'POINT (7.66250749081722 45.06472681372993)', datetime.datetime(2018, 5, 26, 6, 4, 17), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.688747565021865 44.98886727473593)', 'POINT (7.761744775147509 44.98665501392073)', datetime.datetime(2018, 5, 27, 9, 49, 16), 'cheap_mobile'),
 ('Prague', 'POINT (14.34611560109357 50.02251748571683)', 'POINT (14.34790601885638 50.11666616118271)', datetime.datetime(2018, 5, 14, 23, 16, 56), 'pt_search_app'),
 ('Turin', 'POINT (7.647498943910875 45.01930299183481)', 'POINT (7.776838688899015 45.02291834470744)', datetime.datetime(2018, 5, 25, 9, 59, 33), 'baba_car'),
 ('Turin', 'POINT (7.55733220251515 45.04346691930719)', 'POINT (7.586779246260459 45.01495013918306)', datetime.datetime(2018, 5, 23, 8, 59, 29), 'funny_car'),
 ('Prague', 'POINT (14.38418951543671 50.07570422895751)', 'POINT (14.41150237340828 50.02800588921088)', datetime.datetime(2018, 5, 23, 2, 18, 33), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.579174066609555 45.07058209228659)', 'POINT (7.613484349321846 45.06088494858106)', datetime.datetime(2018, 5, 8, 4, 29, 25), 'funny_car'),
 ('Prague', 'POINT (14.56861581242726 50.10620152153201)', 'POINT (14.31831785619946 49.999311030748)', datetime.datetime(2018, 5, 3, 5, 24, 26), 'baba_car'),
 ('Turin', 'POINT (7.675234513598563 45.08658289542927)', 'POINT (7.673694614207704 45.05708350682146)', datetime.datetime(2018, 5, 15, 6, 42, 5), 'cheap_mobile'),
 ('Turin', 'POINT (7.72037765675129 45.1044438436921)', 'POINT (7.695048310476258 45.12827648115218)', datetime.datetime(2018, 5, 5, 7, 5, 1), 'baba_car'),
 ('Turin', 'POINT (7.555153646171233 44.99912435872375)', 'POINT (7.703621918783042 45.12162242437576)', datetime.datetime(2018, 5, 11, 5, 58, 34), 'cheap_mobile'),
 ('Prague', 'POINT (14.65754935346634 50.11820315220623)', 'POINT (14.48378121129139 50.09770540993485)', datetime.datetime(2018, 5, 10, 9, 38, 12), 'pt_search_app'),
 ('Turin', 'POINT (7.535738586259044 45.09228283767607)', 'POINT (7.579705278243088 45.1042591460774)', datetime.datetime(2018, 5, 21, 15, 36, 26), 'cheap_mobile'),
 ('Hamburg', 'POINT (10.00384920850646 53.65220121071665)', 'POINT (9.944925737232104 53.42494618904695)', datetime.datetime(2018, 5, 21, 20, 53, 22), 'cheap_mobile'),
 ('Turin', 'POINT (7.551997743457845 44.99638623936507)', 'POINT (7.531353488607957 45.01346936150077)', datetime.datetime(2018, 5, 2, 0, 22, 18), 'pt_search_app'),
 ('Prague', 'POINT (14.59545724636152 50.0524554235424)', 'POINT (14.48321912885263 50.06509529578676)', datetime.datetime(2018, 5, 9, 4, 23, 26), 'pt_search_app'),
 ('Turin', 'POINT (7.513135087952872 45.04417775442011)', 'POINT (7.643592218026432 45.02125136819493)', datetime.datetime(2018, 5, 13, 15, 37, 37), 'bad_diesel_vehicles'),
 ('Prague', 'POINT (14.47912398994219 50.11781434726048)', 'POINT (14.54894833778109 50.01480664304733)', datetime.datetime(2018, 5, 19, 9, 7, 17), 'pt_search_app'),
 ('Hamburg', 'POINT (9.91347867604199 53.64940529138455)', 'POINT (10.17687554971065 53.63421553339072)', datetime.datetime(2018, 5, 31, 11, 59, 33), 'baba_car'),
 ('Hamburg', 'POINT (10.17801484401512 53.55155909331071)', 'POINT (9.958672518621771 53.5509263400788)', datetime.datetime(2018, 5, 7, 10, 28, 4), 'pt_search_app'),
 ('Hamburg', 'POINT (10.08064772413434 53.5438877700869)', 'POINT (9.985427968556252 53.41711096758155)', datetime.datetime(2018, 5, 29, 7, 2, 25), 'cheap_mobile'),
 ('Hamburg', 'POINT (10.03381912541321 53.52487206530561)', 'POINT (9.822644521723184 53.60047266825603)', datetime.datetime(2018, 5, 12, 16, 40, 40), 'bad_diesel_vehicles'),
 ('Turin', 'POINT (7.579546999972512 45.07031923406972)', 'POINT (7.698742357182772 45.05242942915245)', datetime.datetime(2018, 5, 27, 7, 6, 44), 'pt_search_app'),
 ('Hamburg', 'POINT (10.20093686911824 53.50775292606026)', 'POINT (10.03920714083507 53.56698314675397)', datetime.datetime(2018, 5, 29, 6, 6, 38), 'cheap_mobile'),
 ('Turin', 'POINT (7.676692231736426 45.06249909939103)', 'POINT (7.686960868773017 45.09709631077637)', datetime.datetime(2018, 5, 21, 21, 32, 17), 'baba_car'),
 ('Turin', 'POINT (7.546386797113857 45.08746266421812)', 'POINT (7.555944481215518 44.9974979951791)', datetime.datetime(2018, 5, 5, 6, 8, 53), 'bad_diesel_vehicles'),
 ('Hamburg', 'POINT (10.15410920623684 53.53092417407957)', 'POINT (10.1041201879328 53.42920211427293)', datetime.datetime(2018, 5, 27, 17, 41, 17), 'funny_car'),
 ('Hamburg', 'POINT (9.840595540189936 53.50991873196815)', 'POINT (10.12399795075635 53.62949412099623)', datetime.datetime(2018, 5, 1, 5, 24, 37), 'funny_car'),
 ('Turin', 'POINT (7.723807753167536 45.02971128289503)', 'POINT (7.592874526101529 45.0395824302331)', datetime.datetime(2018, 5, 24, 18, 32, 22), 'pt_search_app'),
 ('Hamburg', 'POINT (10.19019363228404 53.45209827865287)', 'POINT (10.0999398824815 53.55965167658809)', datetime.datetime(2018, 5, 28, 22, 4, 56), 'funny_car'),
 ('Hamburg', 'POINT (10.17378993097742 53.5467336774148)', 'POINT (10.21529787231755 53.50485266884467)', datetime.datetime(2018, 5, 21, 4, 6, 11), 'pt_search_app'),
 ('Hamburg', 'POINT (10.1457401708168 53.43686908113324)', 'POINT (10.19421502623748 53.49444402955017)', datetime.datetime(2018, 5, 10, 3, 37, 56), 'bad_diesel_vehicles'),
 ('Hamburg', 'POINT (10.0778786538811 53.60371774249091)', 'POINT (9.880352497673615 53.56088794736056)', datetime.datetime(2018, 5, 19, 18, 32, 9), 'baba_car'),
 ('Prague', 'POINT (14.33562319852013 50.05977285737693)', 'POINT (14.45302412886982 50.06961029075634)', datetime.datetime(2018, 5, 3, 18, 56, 45), 'cheap_mobile'),
 ('Hamburg', 'POINT (9.996714798980491 53.52203690589671)', 'POINT (10.17431393081631 53.51796499041119)', datetime.datetime(2018, 5, 23, 12, 43, 17), 'baba_car'),
 ('Prague', 'POINT (14.40975521275597 50.037791514028)', 'POINT (14.59895464921585 50.05472087955579)', datetime.datetime(2018, 5, 12, 8, 13, 9), 'cheap_mobile'),
 ('Hamburg', 'POINT (10.08338857045871 53.59661344302611)', 'POINT (10.17914017806172 53.60909301795856)', datetime.datetime(2018, 5, 22, 10, 39, 49), 'baba_car'),
 ('Prague', 'POINT (14.61738744026195 50.03346482370401)', 'POINT (14.31199296863995 50.09604608872181)', datetime.datetime(2018, 5, 15, 22, 10, 3), 'baba_car')]

In [402]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="Admin01")

cursor = conn.cursor()

In [403]:
data_collect = trips.collect()
 
tot = trips.count()    

print( "Loading ", tot, " records into the database")
    
# looping thorough each row of the dataframe
n = 0
for row in data_collect:
    n += 1
    cursor.execute( "INSERT INTO public.trips(region,origin_coord, destination_coord, datetime, datasource) values (%s,%s,%s,%s,%s)", (row[0], row[1], row[2], row[3], row[4]))            
    print( "Records loaded: ", n, end = "\r")
#conn.rollback()
conn.commit()

cursor.close()
conn.close()

print( "Finished            ")

Loading  100  records into the database
Finished